body {
    font-family: 'Montserrat', sans-serif;
}

#header {
      
    float: right;
    width: 30%
        
    }

    .posts-div {
        display: table;
        margin-left: auto;
        margin-right: auto;
      }
      .posts-div:before {
        border-bottom: 1px solid #f00;
        content: '';
        display: block;
        width: 50%;
      }
      .posts-div:after {
        border-bottom: 1px solid #f00;
        content: '';
        display: block;
        width: 50%;
      }